      .hidden {
        display: none;
      }

      .hide {
        color: white;
      }

      .up {
        color: #228B22;
      }

      .down {
        color: red;
      }

      .same {
        color: black;
      }

      .wrapper {
          text-align: center;
      }

      .id {
          text-align: center;
          font-size: 125%;
          font-weight: bold;
          text-decoration: underline;
      }

      .button {
          position: absolute;
          top: 50%;
      }

      #start_butt {
          font-size: 125%;
          background-color: blue;
          border: black;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
      }

      .buy {
          font-size: 125%;
          background-color: #008D97;
          border: black;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
      }

      .sell {
        font-size: 125%;
        background-color: #F5811F;
        border: black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      #svgMain {margin-left:auto; margin-right:auto; display:block;}